#header{
	
	text-align: center;
	font-family: "Myriad Pro", "Arial", "san serif";
	color: #565454;

}
#menu{
	
	text-align: center;
}
a{
	text-decoration: none;
	padding-left: 15px;
	padding-right: 15px;
	color: #E27D60;
	font-family: "Myriad Pro", "Arial", "san serif";

}
 .contact, .email {
	font-family: "Myriad Pro", "Arial", "san serif";
	color: #565454;
	text-align: center;
}